@model PlayerModel
@{
	ViewData["Title"] = "Game";
}
<div class="container-fluid BackgroundColorDark text-center justify-content-center">
	<div class="row" style="margin-top:20vh">
		<div class="col-3">
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-6">
			<div class="text-start DialogBox" style="padding:10px; height:20vh; border: 2px solid white; color: white;">Welcome @Model.Name </div>
		</div>
	</div>

	<div class="row justify-content-between" style="margin-top:10vh; padding-left: 30px; padding-right:30px">
		<!--Player Column-->
		<div class="col" id="player-display" style="max-width: fit-content">
			<div class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white; "> @Model.Name </div>
			<div class="d-flex float-start" style="height: fit-content; width: fit-content;">
				<img class="float-start" style="height: 36vh; width: auto; border: 2px solid white;" src="~/images/PlaceholderPlayerPortrait.png" alt="Default Player Portrait">
				<img class="align-self-end" style="height: 8vh; width: auto;" src="~/images/PotionIcon.png" alt="Potion Icon">
				<div class="align-self-end PQFont AutoScale" style="font-size: 3vh; height: 6vh;" data-player-health-potions="@Model.HealthPotions">
					@Model.HealthPotions
				</div>
			</div>
			<div class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white;">
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/SwordIcon.png" alt="Attack Icon"> @Model.Attack &nbsp;
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/ShieldIcon.png" alt="Shield Icon"> @Model.Defense &nbsp;
				<span class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white;" data-player-current-health="@Model.CurrentHealth" data-player-max-health="@Model.MaxHealth" data-player-attack="@Model.Attack" data-player-defense="@Model.Defense">
				 @Model.CurrentHealth/@Model.MaxHealth HP
				</span>
			</div>
		</div>
		<!--Buttons Column-->
		<div class="col-auto" id="combat-buttons-display" style="">
			<button class="MenuButton PQBorder PQFont px-5 mb-3 d-block" id="attack-btn" style="height:6vh; width: 100%; font-size: 3vh;"> Attack </button>
			<button class="MenuButton PQBorder PQFont px-5 d-block" id="health-potion-btn" style="height:6vh; width: 100%; font-size: 3vh;"> Use Potion </button>
		</div>
		<!--Enemy Column-->
		<div class="col" id="enemy-display" style="max-width: fit-content; margin-left: 8vh">
			<div class="text-start" id="enemy-name" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white; "> </div>
			<img class="float-end" id="enemy-image" style="height: 36vh; width: auto; border: 2px solid white;">
			<div class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white;">
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/SwordIcon.png" alt="Attack Icon">
				<span class="text-start" id="enemy-attack" style="font-size: 3vh; padding-left: 10px; height: 4vh; width: auto; color: white; "></span>
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/ShieldIcon.png" alt="Shield Icon">
				<span class="text-start" id="enemy-defense" style="font-size: 3vh; padding-left: 10px; height: 4vh; width: auto; color: white; "></span>
				&nbsp;<span class="text-start" id="enemy-hp" style="font-size: 3vh; padding-right: 10px; height: 4vh; width: auto; color: white; "></span>
			</div>
			
		</div>
	</div>

</div>

<script src="~/js/Game.js"></script>